<div class="mr-0 ml-0 mt-2 sm:mr-2 sm:ml-2 md:mr-5 md:ml-5 md:mt-5 lg:mr-20 lg:ml-20 lg:mt-8">
    <div class="text-white text-base sm:text-xl ml-3 mb-16">
        FREQUENTLY ASKED QUESTIONS
    </div>
    <div class="text-white text-start ml-2 mr-2 lg:ml-22 lg:mr-22 mb-8">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 inline text-lime">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>
        <p class="text-lime text-base sm:text-xl hover:text-white active:text-limeclick inline align-middle">
            How long will it take to receive my order?
        </p>
        <div class="text-sm sm:text-base ml-2 mr-2 mt-2 lg:ml-8 lg:mr-8">
            <p>
                We strive to process and ship orders as quickly as possible. The delivery timeframe depends on your
                location and the shipping method chosen at checkout. You can find estimated delivery times on our
                website or contact our customer support for more information.
            </p>
        </div>
    </div>

    <div class="text-white text-start ml-2 mr-2 lg:ml-22 lg:mr-22 mb-8">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 inline text-lime">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>
        <p class="text-lime text-base sm:text-xl hover:text-white active:text-limeclick inline align-middle">
            Do you offer international shipping?
        </p>
        <div class="text-sm sm:text-base ml-2 mr-2 mt-2 lg:ml-8 lg:mr-8">
            <p>
                Yes, we offer international shipping to many countries. Delivery times may vary depending on your
                location. Please review our shipping policy or reach out to our customer support
                for more details.
            </p>
        </div>
    </div>

    <div class="text-white text-start ml-2 mr-2 lg:ml-22 lg:mr-22 mb-8">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 inline text-lime">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>
        <p class="text-lime text-base sm:text-xl hover:text-white active:text-limeclick inline align-middle">
            Can I return or exchange a product?
        </p>
        <div class="text-sm sm:text-base ml-2 mr-2 mt-2 lg:ml-8 lg:mr-8">
            <p>
                We have a hassle-free return and exchange policy. If you are not satisfied with your purchase, you can
                initiate a return or exchange within a specified timeframe. Please refer to our returns policy on our
                website for detailed instructions and eligibility criteria.
            </p>
        </div>
    </div>

    <div class="text-white text-start ml-2 mr-2 lg:ml-22 lg:mr-22 mb-8">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 inline text-lime">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>
        <p class="text-lime text-base sm:text-xl hover:text-white active:text-limeclick inline align-middle">
            Are your products covered by a warranty?
        </p>
        <div class="text-sm sm:text-base ml-2 mr-2 mt-2 lg:ml-8 lg:mr-8">
            <p>
                Yes, most of our products come with a manufacturer's warranty. Warranty coverage varies by
                product and brand. You can find warranty information in the product description or contact our
                customer support for specific details.
            </p>
        </div>
    </div>

    <div class="text-white text-start ml-2 mr-2 lg:ml-22 lg:mr-22 mb-16">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 inline text-lime">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>
        <p class="text-lime text-base sm:text-xl hover:text-white active:text-limeclick inline align-middle">
            How can I contact your customer support?
        </p>
        <div class="text-sm sm:text-base ml-2 mr-2 mt-2 lg:ml-8 lg:mr-8">
            <p>
                Our customer support team is readily available to assist you. You can reach us via email, phone, or
                through our online contact form. We strive to respond to inquiries promptly and provide the
                assistance you need.
            </p>
        </div>
    </div>
</div>